.card{
  display: flex;
  flex-direction:column;
  background-color:#999;
  margin:10px auto;
  padding:0 10px;
}

.raceNumber{
  color: blue;
}
.logo{
  width:20px;
  height:20px;
}
.timer{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap: 10px
}
.countDownRed{
  color:red;
}
.countDownBlue{
  color:blue;
}
